.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/visitPonteDeLima/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/visitPonteDeLima/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
.vs/visitPonteDeLima/FileContentIndex/792bfff1-5da9-4ec1-ba9b-1919e4cade3a.vsidx
.vs/visitPonteDeLima/v17/.wsuo
.vs/visitPonteDeLima/v17/DocumentLayout.json
