body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

#interface-mapa {
    position: absolute;
    inset: 0;
    z-index: 50;
    background: white;
    display: flex;
    flex-direction: column;
}

#mapid {
    flex: 1;
    width: 100%;
}

a-scene {
    position: absolute;
    inset: 0;
    z-index: 1;
}

#interface-ar {
    position: absolute;
    inset: 0;
    z-index: 100;
    pointer-events: none;
}

.ar-overlay-top,
.ar-overlay-bottom .card {
    pointer-events: auto;
}

.ar-overlay-top {
    position: absolute;
    top: 20px;
    left: 20px;
}

.ar-overlay-bottom {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}


#btn-ar-floating {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #0d6efd;
    color: white;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
    #btn-ar-floating {
        bottom: calc(30px + env(safe-area-inset-bottom));
    }
}

#btn-ar-floating.ready {
    background: #ffc107;
    color: black;
    border-color: #ffc107;
    transform: scale(1.1);
    animation: shake 0.5s infinite;
}

#btn-text-dist {
    font-size: 10px;
    font-weight: bold;
}

.custom-map-icon,
.user-marker {
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background: white;
}

.user-marker {
    background: #0d6efd;
}

@keyframes shake {

    0%,
    100% {
        transform: translate(0, 0) scale(1.1);
    }

    25% {
        transform: translate(-2px, 2px) scale(1.1);
    }

    75% {
        transform: translate(2px, -2px) scale(1.1);
    }
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    max-width: none !important;
    max-height: none !important;
}

.leaflet-popup {
    z-index: 2005 !important;
}

#mapid {
    touch-action: auto !important;
    z-index: 50;
    position: relative;
}

/* obrigado net*/
#mira-central {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 4px;

    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);

    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
    transition: all 0.2s ease;
}

#mira-central.focando {
    background-color: red;
    width: 5px;
    transition: width 1.5s linear, background-color 0.2s ease;
}