body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#mapid {
    z-index: 1;
    touch-action: none;
}

#mira-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);

    z-index: 9999;
    pointer-events: none;
    transition: all 0.2s ease;
}

#mira-central.focando {
    background-color: red;
    width: 5px;
    transition: width 1.5s linear, background-color 0.2s ease;
}

#btn-ar-floating {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #0d6efd;
    color: white;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1050;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: transform 0.3s;
}

#btn-ar-floating.ready {
    background: #ffc107;
    color: black;
    border-color: #ffc107;
    transform: scale(1.1);
    animation: shake 0.5s infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: scale(1.1) translate(0, 0);
    }

    25% {
        transform: scale(1.1) translate(-2px, 2px);
    }

    75% {
        transform: scale(1.1) translate(2px, -2px);
    }
}


.custom-map-icon,
.user-marker {
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background: white;
}

.user-marker {
    background: #0d6efd;
}

.leaflet-popup {
    z-index: 2000 !important;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}